body {
    /* Box-model */
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: PT Sans;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	text-transform: uppercase;
    background-color: #f2f2f2;
}
h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	text-transform: uppercase;
}
h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	text-transform: uppercase;
}
h3{
	font-size: 30px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
	text-transform: uppercase;
}
.rubber-site {
    /* Box-model */
    margin: 0 auto;
    min-width: 768px;
    max-width: 1280px;
}
.main-navigation {
    /* Box-model */
    width: 100%;
    padding: 5px 0;
    /* Visual */
    background-color: #f0ffff;
}
.welcome-screen {
    /* Box-model */
    width: 100%;
    margin-bottom: 0;
    /* Visual */
    background-color: #faebd7;
}
.about {
    /* Box-model */
    display: inline-block;
    width: 100%;
    /* Visual */
    background-color: #f0ffff;
}
.hotel-search {
    /* Box-model */
    width: 100%;
    /* Visual */
    background-color: #f0ffff;
}
.map {
    /* Box-model */
    width: 100%;
    /* Visual */
    outline:4px dotted #328a3a;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
.reason {
    width: 100%;
    margin-bottom: 0;
    outline: 2px solid brown;
}
.reason-description {
    width: 33%;
    min-height: 256px;
    float: left;
    background-color:#82b3d3; 
}
.reason-image-right {
    width: 67%;
}
.features-row {
    width: 100%;
    outline: 2px solid brown; 
}
.feature-item {
  width: 33%;
  float: left;
  min-height: 330px;
}
.feature-item:last-child {
    width: 34%; 
}
.reason-image-left {
    float: left;
    width: 66%;
}
.reason-row {
    width: 100%; 
    height: 256px;
    margin-bottom: 0;
    outline: 2px solid brown; 
}
.reason-description-34:{
    width: 34%;  
}
.reason-description:last-child {
    width: 34%; 
}
.main-footer {
    width: 100%;
    background-color: #f0ffff;
}
.footer-hashtag,
.footer-social,
.footer-copyright {
    float: left;
    width: 33%;
    margin-right: 0;
}
.footer-copyright {
    width: 34%; 
}
