/* ----------------------------- *\
    $CONTENT
\* ----------------------------- */
/**
 *  Font-Face.............Symbols Sedona icon font
 *  Common selectors........Body,h1,h2,h3,rubber-site
 *  Main navigation
 *  Grid
 *  Index.html main content.....Welcome screen, about, reasons, features and images
 *  Hotel Search Pop-up form
 *  Map
 *  Main Footer
 *  Hotels.html Filter
 *  Hotels.html main content.....Sorting area, articles about found hotels
 *  Animations.......'bounce' animation
 */



/* ----------------------------- *\
    $Font-Face
\* ----------------------------- */
@font-face {
  font-family: 'symbols-sedona';
  src: url('../font/symbols-sedona.eot?60737633');
  src: url('../font/symbols-sedona.eot?60737633#iefix') format('embedded-opentype'),
       url('../font/symbols-sedona.woff?60737633') format('woff'),
       url('../font/symbols-sedona.ttf?60737633') format('truetype'),
       url('../font/symbols-sedona.svg?60737633#symbols-sedona') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-sedona";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none; 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-calendar:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-minus:before { content: '\e802'; } /* '' */
.icon-youtube:before { content: '\f39e'; } /* '' */





/* ----------------------------- *\
    $Common selectors
\* ----------------------------- */
body {
    /* Box-model */
    margin: 0;
    padding: 0;
    /* Typography */
    font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	text-transform: uppercase;
    /* Visual */
    background-color: #f2f2f2;
}
h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
	text-transform: uppercase;
}
h3{
	font-size: 30px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
}
/*header, content, footer*/
.rubber-site {
    /* Position */
    position: relative;
    /* Box-model */
    margin: 0 auto;
    min-width: 768px;
    max-width: 1200px;
    box-shadow: 1px 5px 12px 0 #dbdbdb;
}





/* ----------------------------- *\
    $Main navigation
\* ----------------------------- */
.main-navigation {
    /* Position */
    position: relative;
    /* Box-model */
    width: 100%;
    padding: 0;
    float: left;
    /* Visual */
    background-color: #fff;
    }
        .main-navigation ul {
            /* Box-model */
            margin: 0;
            padding: 0;
            /* Typography */
            font-size: 0;
            /* Visual */
            list-style: none;
          }
        .main-navigation li {
            /* Position */
            position: relative;
            /* Box-model */
            display: inline-block;
            vertical-align: top;
            width: 20%;
            margin: 0;
            padding: 0;
            /* Typography */
            font-size: 14px;
            line-height: 24px;
        }
        .main-navigation a {
            /* Box-model */
            display: block;
            margin: 0;
            padding: 16px 0 16px;
            /* Typography */
            color:#000;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
        }
        .main-navigation a:hover {
            color: #81b3d2;  
        }
        .main-navigation a:active {
            color:#000;
            opacity: .3;
        }
        .active a {
            color: #766357; 
        }
        .active a:hover {
            color: #604e43;    
        }
        .active a:active {
            color: #766357;
            opacity: .3;
        }
        .main-navigation .logo{
            /* Position */
            position: absolute;
            top:0;
            left: 50%;
            z-index: 10;
            /* Box-model */
            margin-left: -69px;
            padding: 0;
            /* Visual */
            background-color: #81b3d2;
        }
        .main-navigation a.logo:active {
            opacity: 1;
        }





/* ----------------------------- *\
    $Grid
\* ----------------------------- */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.col-4 {
    width: 33.333333333333336%;   /* 4/12 */
}
.col-8 {
    width: 66.66666666666667%;    /* 8/12 */
}
.col-20 {
    width: 20%;
}
.col-60 {
    width: 60%;   
}
.col {
    float: left;
    box-sizing: border-box;
}





/* ----------------------------- *\
    $Index.html main content
\* ----------------------------- */
.welcome-screen {
    /* Position */
    position: relative;
    /* Box-model */
    box-sizing: border-box;
    height: 508px; 
    margin-bottom: 0;
    padding: 0;
    padding-top: 76px;
    width: 100%;
    /* Visual */
    background: #e4f1fa url('../img/bg-welcome.jpg') no-repeat center center;
    background-size: cover;
}
.welcome-screen:after {
    /* Position */
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    /* Box-model */
    width: 100%;
    height: 60px;
    /* Visual */
    background: url("../img/welcome-mask.png") no-repeat center;
    background-size: 100% 57px;
}
    .welcome-part-1 {
        width: 256px;
        height: 86px;
        margin: 0 auto 52px;
    }
    .welcome-part-2 {
        width: 458px;
        height: 78px;
        margin: 0 auto 56px;
    }
    .welcome-part-3 {
        width: 296px;
        height: 80px;
        margin: 0 auto;
    }
.about {
    /* Box-model */
    box-sizing: border-box;
    width: 100%;
    padding: 61px 25% 51px;
    /* Typography */
    text-align: center;
    /* Visual */
    background-color: #fff;
}
    .about h2 {
        margin: 0 0 32px;    
    }
    .about p {
        margin: 0;    
    }
.reason {
    /* Box-model */
    min-height: 256px;
    /* Visual */
    background-color:#81b3d2;
}
    .reason-description {
        /* Box-model */
        padding: 0 45px 15px;
        /* Typography */
        text-align: center;
        color: #fff;
        /* Visual */
        background-color:#81b3d2;
    }
        .reason-description h2 {
            /* Box-model */
            margin: 53px 3% 10px;
            /* Typography */
            color: #fff;    
        }
        .reason-description p {
            /* Box-model */
            display: block;
            margin: 0 0 20px;
            /* Typography */
            line-height: 21px;
            /* Other */
            overflow: auto;
        }
    .reason-light {
        /* Typography */
        color: #333;
        /* Visual */
        background-color: #eee;
    }
        .reason-light h2 {
            /* Box-model */
            margin: 43px 0 10px;
            /* Typography */
            color: #000;   
        }
        .reason-light .reason-description {
            /* Box-model */
            padding-bottom: 45px;
            /* Typography */
            color: #333;
            /* Visual */
            background-color: #eee;
        }
    .reason-image {
        /* Position */
        position: relative;
        /* Box-model */
        height: 256px;
        /* Other */
        overflow: hidden;
    }
        .reason-image img {
            /* Position */
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            /* Box-model */
            margin: auto;
            width: 100%;
        }
.features {
    /* Visual */
    background-color: #fff;
}
    .feature-item {
        /* Box-model */
        padding: 0 70px 65px;
        /* Typography */
        text-align: center;
        color: #333;
        /* Visual */
        background-color:#fff;
    }
    .feature-icon {
        margin: 58px auto 33px;
        width: 75px;
        height: 75px;
        background-image: url(../img/sprite.png);
        background-repeat: no-repeat;
        display: block;
    }
        .icon-house {
            width: 75px;
            height: 72px;
            background-position: -89px -5px;
        }
        .icon-food {
            width: 74px;
            height: 70px;
            background-position: -5px -5px; 
        }
        .icon-souvenir {
            width: 64px;
            height: 76px;
            background-position: -174px -5px;
        }

.hotel-search {
    /* Position */
    position: relative;
    /* Box-model */
    box-sizing: border-box;
    padding: 55px 13% 0px;
    /* Typography */
    text-align: center;
    /* Visual */
    background-color: #fff;
}
    .hotel-search h3 {
        margin: 0 0 35px;   
    }
    




/* ----------------------------- *\
    $Hotel Search Pop-up form
\* ----------------------------- */
.btn-to-search {
        display: block;
        padding: 0;
        margin: 45px auto 0;
        width: 568px;
        height: 86px;
        vertical-align: middle;
        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 21px;
        font-weight: bold;
        line-height: 86px;
        color: #fff;
        background-color: #766357;
        text-decoration: none;   
    }
.popup-form {
    /* Position */
    position: absolute;
    bottom: -395px;
    left: 50%;
    z-index: 1;
    /* Box-model */
    display: none;
    box-sizing: border-box;
    width: 568px;
    height: 395px;
    margin-left: -284px;
    padding: 55px 55px 0;
    /* Typography */
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    /* Visual */
    background-color: #fff;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}
.popup { background-color: #fff; }
.popup-form-pe {
    /* Position */
    position: relative;
    /* Box-model */
    box-sizing: border-box;
    padding: 55px;
    width: 568px;
    margin: 0 auto;
  /* Typography */
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    text-align: left;
    /* Visual */
    background-color: #fff;
}
.popup-form-show {
    display: block;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;  
}

    .popup-form input,
    .popup-form-pe input {
        /* Box-model */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        padding-left: 15px;
        width: 38px;
        height: 38px;
        /* Typography */
        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 14px;
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        /* Visual */
        border: none;
        outline: none;
        background-color: #f2f2f2;   
        white-space: nowrap;
        }
        .popup-form input:hover,
        .popup-form-pe input:hover {
            background-color: #ebebeb;    
        }
        .popup-form input:active,
        .popup-form-pe input:active{
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #e5e5e5;
        }
        .popup-form .date-in,
        .popup-form .date-out,
        .popup-form-pe .date-in,
        .popup-form-pe .date-out {
            /* Position */
            position: relative;
            /* Box-model */
            margin-bottom: 30px;
            width: 345px;
            padding-right: 60px;
    }
        .popup-form .label-in:after,
        .popup-form .label-out:after,
        .popup-form-pe .label-in:after,
        .popup-form-pe .label-out:after {
            /* Position */
            content: "\e800";
            position: absolute;
            right:63px;
            z-index: 10;
            /* Box-model */
            margin-right: 0px;
            /* Typography */
            font-family: "symbols-sedona";
            font-size: 21px;
            /* Visual */
            cursor: pointer;
            color: #c2c2c2;  
        }
        .popup-form .label-in:after,
        .popup-form-pe .label-in:after {top:15%;}
        .popup-form .label-out:after, 
        .popup-form-pe .label-out:after {top:32%;}

        .icon-plus:hover,
        .icon-minus:hover,
        .popup-form .label-in:hover:after,
        .popup-form .label-out:hover:after,
        .popup-form-pe .label-in:hover:after,
        .popup-form-pe .label-out:hover:after {color:#000;}

        .icon-plus:active,
        .icon-minus:active,
        .popup-form .label-in:active:after,
        .popup-form .label-out:active:after,
        .popup-form-pe .label-in:active:after,
        .popup-form-pe .label-out:active:after {color: #81b3d2;}

        .popup-form .label-in, 
        .popup-form-pe .label-in {
            margin-right: 18px;
        }
        .popup-form .label-out,  
        .popup-form-pe .label-out {
            margin-right: 15px;
        }
        .popup-form .label-adult, 
        .popup-form-pe .label-adult {
            margin-right: 37px;
            vertical-align: middle;
    
    }
        .popup-form .label-child, 
        .popup-form-pe .label-child {
            margin-left: 50px;
            margin-right: 22px;
            vertical-align: middle;
        }
        .popup-form input[type="submit"],
        .popup-form-pe input[type="submit"] {
            /* Box-model */
            margin-top: 23px;
            padding: 0;
            width: 100%;
            height: 59px;
            /* Typography */
            text-align: center;
            font-size: 21px;
            color: #fff;
            /* Visual */
            background-color: #81b3d2;
        }
        .popup-form input[type="submit"]:hover,
        .popup-form-pe input[type="submit"]:hover {
            background-color: #669ec0;
        }
        .popup-form input[type="submit"]:active,
        .popup-form-pe input[type="submit"]:active {
            /* Typography */
            color: #94b9d2;
            /* Visual */
            background-color: #5496bd;
            box-shadow: none;
        }
        .popup-form .count,
        .popup-form-pe .count {
            /* Box-model */
            display: inline-block; 
            vertical-align: top;
            margin-bottom: 30px;
            /* Typography */
            font-size: 0;
        }
        .popup-form span,
        .popup-form-pe span {
            /* Box-model */
            display: inline-block;
            vertical-align: top;
            width: 38px;
            height: 38px;
            /* Typography */
            font-size: 14px;
            text-align: center;
            line-height: 38px;
            color: #a9a9a9;
            /* Visual */
            cursor: pointer;
            border: 0;
            background-color: #f2f2f2;
        }
        .popup-form span:hover,
        .popup-form-pe span:hover {color: #000;}
        .popup-form span:active,
        .popup-form-pe span:active {color: #81b3d2;}





/* ----------------------------- *\
    $Map
\* ----------------------------- */
.map {
    /* Box-model */
    min-height: 593px;
    /* Visual */
    background-color: #cbdda9;
    background-image: url('../img/map.jpg');
}






/* ----------------------------- *\
    $Main Footer
\* ----------------------------- */
.main-footer-transparent {
    /* Position */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    /* Box-model */
    width: 100%;
    /* Visual */
    background-color: rgba(255, 255, 255, 0.9);
}
.main-footer {
    background-color: rgba(255, 255, 255, 1);
}
    .footer-hashtag,
    .footer-social,
    .footer-copyright {
        text-align: center; 
    }
    .footer-hashtag h2{
        padding-top:48px;
        margin: 0;
    }
    .footer-social {
        /* Box-model */
        padding: 39px 0 36px;
        /* Typography */
        font-size: 0px;
    }
        .social-btn {
            /* Position */
            position: relative;
            /* Box-model */
            display: inline-block;
            margin-right: 6px;
            vertical-align: top;
            width:47px;
            height: 48px;
            /* Typography */
            font-size: 20px;
            line-height: 48px;
            color:#fff;
            /* Visual */
            background-color: #81b3d2;
        }
        .social-btn:hover {background-color:#669ec0;}
        .social-btn:active {background-color:#5496bd;}
        .social-btn:active i {opacity: .3;}

    .footer-copyright {
        /* Position */
        position: relative;
        /* Box-model */
        display: inline-block;
        padding: 47px 0px 43px 0px;
        vertical-align: top;
    }
        .footer-copyright span {
            /* Box-model */
            display: inline-block;
            vertical-align: top;
            margin-right:125px;
            vertical-align: top;
            /* Typography */
            line-height: 33px;
        }
        .footer-copyright a:after {
            /* Position */
            content: "";
            position: absolute;
            top:5px;
            left: 44%;
            /* Box-model */
            display: inline-block;
            vertical-align: top;
            width:135px;
            height: 33px;
            margin-top: 44px;
            margin-left: 8px;
            /* Visual */
            background-image: url('../img/copyright.png');
        }
        .footer-copyright a:hover:after {
            background-image: url('../img/copyright-hvr.png');
        }
        .footer-copyright a:active:after {
            background-image: url('../img/copyright-down.png');
        }






/* ----------------------------- *\
    $Hotels.html Filter
\* ----------------------------- */
.filter {
    /* Box-model */
    width: 100%;
    min-height: 217px;
    /* Typography */
    color:white;
    /* Visual */
    background-color: #666666;
    background: url(../img/bg-filter-768.jpg) no-repeat 50% 50%;
    background-size: cover;
}
    .filter-form legend {
        /* Box-model */
        padding-top: 28px;
        padding-bottom: 22px;
        /* Typography */
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
    }
    .filter-form input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"] + label {
        /* Position */
        position: relative;
        /* Box-model */
        display: block;
        width: 100%;
        vertical-align: top;
        padding-left: 37px;
        padding-right: 10px;
        padding-bottom: 26px;
        /* Visual */
        cursor: pointer;
    }
    input[type="checkbox"] + label:before {
        /* Position */
        position: absolute;
        content: "\2610";
        top:2px;
        left: 0;
        /* Box-model */
        width: 24px;
        height: 20px;
        /* Typography */
        font-family: "symbols-sedona";
        font-size: 25px;
        color: #b5b5b5;
    }
    input[type="checkbox"] + label:hover:before {color: #fefefe;}
    input[type="checkbox"]:disabled + label:before {color: #6a6a6a;}
    input[type="checkbox"]:checked + label:before { content: "\2611";}
    
    .infrastructure {
        /* Box-model */
        box-sizing: border-box;
        width: 20%;
        float: left;
        margin: 0;
        padding: 0;
        padding-left: 6%;
        /* Typography */
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* Visual */
        border: none;
        }

    
    .house-type {
        /* Box-model */
        box-sizing: border-box;
        width: 35%; 
        float: left;
        margin: 0;
        padding: 0;
        padding-left: 7%;
        /* Typography */
        font-family: "PT Sans", "Arial", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        /* Visual */
        border: none;
    }
    .cost-form {
        /* Box-model */
        box-sizing: border-box;
        float: right;
        width: 40%;
        margin: 0;
        padding-right: 7%;
        padding-left: 7%;
        /* Visual */
        border:0;
    }
        .cost-form legend {padding-bottom: 5px;}
        .cost-form .scale {
            /* Box-model */
            margin-top: 19px;
            height: 2px;
            margin-bottom: 32px;
            /* Visual */
            background-color: #847c7c;
        }
        .cost-form .bar {
            /* Box-model */
            height: 2px;
            /* Visual */
            background-color: #fff;
        }
        .cost-form .range-controls {
            position: relative;
        }
        .cost-form .toggle {
            /* Position */
            position: absolute;
            top:-9px;
            /* Box-model */
            width: 4px;
            height: 4px;
            /* Visual */
            border: 8px solid #fff;
            background-color: #ababab;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 2px 0px 0px rgba(0, 1, 1, 0.14);
        }
        .cost-form .toggle:hover {background-color:#1c4f80}
        .cost-form .min-toggle {left: 0;}
        .cost-form .max-toggle {left:80%;}
        .cost-form input[type="submit"] {
            /* Box-model */
            margin: 0;
            margin-left: 28%;
            width: 133px;
            height: 36px;
            /* Typography */
            font-size: 14px;
            line-height: 21px;
            color: #fff;
            /* Visual */
            border: 2px solid #fff;
            border-radius: 2px;
            background: none;
        }
        .cost-form .cost-controls {
            /* Position */
            position: relative;
            height: 32px;
            /* Box-model */
            padding-left: 20%;
            /* Typography */
            line-height: 32px;
            /* Visual */
            border: 2px solid #fff;
            border-radius: 2px;
            white-space: nowrap;
        }
            .cost-controls .min-price,
            .cost-controls .max-price {
                /* Box-model */
                width:15%;
                padding-left: 5px;
                /* Typography */
                font-family: "PT Sans", "Arial", sans-serif;
                font-size: 14px;
                line-height: 21px;
                color:#fff;
                /* Visual */
                background: none;
                border: none;
            }
            .cost-controls .min-price {margin-right: 26%;}
            .cost-controls .max-price {width: 22%;}
            .cost-controls .separator {
                /* Position */
                position: absolute;
                top: 5px;
                left: 50%;
                /* Box-model */
                width: 2px;
                height: 22px;
                /* Visual */
                background-color: #fff;
            }





/* ----------------------------- *\
    $Hotels.html main content
\* ----------------------------- */
.search-result {
    /* Box-model */
    width: 100%; 
    /* Visual */
    background-color: #fefefe;
    border-bottom: 1px solid #e5e5e5;
}
    .search-result-found {
        /* Box-model */
        width: 20%; 
        /* Typography */
        text-align: center;
    }
        .search-result-found .found {
            /* Box-model */
            display: block;
            padding-top: 31px;
            padding-bottom: 30px;
            padding-left: 10%;
            /* Typography */
            font-family: "PT Sans", "Arial", sans-serif;
            font-size: 21px;
            line-height: 26px;
            font-weight: bold;
        }
    .search-result-sorting {
        /* Box-model */
        width: 60%;
        padding-top: 35px;
        padding-left: 1px;
        /* Typography */
        font-size: 12px;
        line-height: 18px;
    }
        .search-result-sorting a {
            /* Box-model */
            margin-right: 30px;
            /* Typography */
            color: #000;
            text-decoration: none;
            /* Visual */
            opacity: .3;
            border-bottom: 1px solid #81b3d2;
            border-bottom-style: dotted;  
        }
        .search-result-sorting a:hover {
            color: #81b3d2;
            opacity: 1;
        }
        .search-result-sorting a:active {
            color: #000;
            opacity: 1;
            border: none;
        }
        .search-result-sorting a.active {
            color: #81b3d2;
            opacity: 1;
            border: none;
        }
        .search-result-sorting span {
            margin-right: 30px;
        }
            
    .search-result-arrows {
        /* Box-model */
        display: inline-block;
        vertical-align: top;
        width: 20%;
        padding-right: 6%;
        /* Typography */
        text-align: right;
        font-size: 25px;
        line-height: 88px;
    }
        .search-result-arrows a {
            /* Box-model */
            width: 5px;
            height: 5px;
            margin-right: -10px;
            /* Typography */
            color: #ccc;
        }
        .search-result-arrows a:hover {
            color: #000;   
        }
        .search-result-arrows a:active {
            color: #81b3d2;   
        }
        .search-result-arrows a.active {
            color: #81b3d2;   
        }
.hotel {
    /* Box-model */
    width: 100%; 
    /* Visual */
    background-color: #fefefe;
    border-bottom: 1px solid #e5e5e5;
}
    .hotel img {
        /* Box-model */
        padding-top: 30px;
        padding-left: 17%;
        width: 135px;
        height: 90px;
    }
    .hotel-description {
        /* Box-model */
        padding: 13px;   
    }
       
        .hotel-description a.title {
            /* Box-model */
            display: block;
            margin: 0;
            margin-bottom: 4px;
            padding-top: 10px;
            /* Typography */
            text-align: left;
            font-size: 21px; 
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }
        
        .hotel-description a.title:hover {
            color: #81b3d2;   
        }
        .hotel-description a.title:active {
            color: #000;
            opacity: .3;   
        }
        .hotel-description .block {
            /* Box-model */
            display: block;
            margin: 0;
            margin-top: 10px;
            padding: 0;
            /* Typography */
            font-size: 14px;
            line-height: 21px;
        }
        .hotel-description span {
            display: block;
            margin-bottom: 12px;
        }
        .hotel-description .hotel-more,
        .hotel-description .hotel-reserve {
            /* Box-model */
            display: block;
            height: 27px;
            margin-bottom: 17px;
            /* Typography */
            text-align: center;
            font-size: 14px;
            line-height: 27px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }
        .hotel-more {
            /* Box-model */
            width: 110px;
            margin-right: 6px;
            /* Visual */
            background-color: #81b3d2;
        }
        .hotel-more:hover {background-color: #669ec0;}
        .hotel-more:active {
            /* Typography */
            color: #91b7d1;
            /* Visual */
            background-color: #5496bd;
        }
        .hotel-reserve {
            /* Box-model */
            width: 142px;
            /* Visual */
            background-color: #766357;
        }
        .hotel-reserve:hover {background-color: #604e43;}
        .hotel-reserve:active {
            /* Typography */
            color: #928a85; 
            /* Visual */
            background-color: #503e33; 
        }
    .hotel-rating {
        /* Box-model */
        padding-right: 5%;
        /* Typography */
        text-align: right;
    }
        .hotel-rating span {
            /* Box-model */
            display: inline-block;
            vertical-align: top;
            width: 110px;
            height: 27px;
            /* Typography */
            line-height: 27px;
            text-align: center;
            color: #666666;
            /* Visual */
            background-color: #f2f2f2;
        }
    .rating-stars {
        /* Box-model */
        display: block;
        padding: 0;
        padding-top: 27px;
        margin-bottom: 45px;
        /* Typography */
        color: #81b3d2;
        font-size: 19px;
    }






/* ----------------------------- *\
    $Animations
\* ----------------------------- */

    


@-webkit-keyframes bounce {
  0% {
    transform: translateY(200px);
  }
  70% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(200px);
  }
  70% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: translateY(0);
  }
}
